    @using OpenXstan.Common
    @model ProductViewModel

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        DisplayModeProvider.Instance.RequireConsistentDisplayMode = true;
    }
    
    @helper url(string id)
    {
        Url.Action("Show Price", "Detail", new { id = id });
    }

    <div id="Main">
        <h3>Mobile Page!!</h3>
        <ul id="product" data-role="listview" data-filter="true">
            @foreach (var product in Model.Product)
            {
                <li>
                    <a href="@url(product.Id)">
                        <h3>@product.Title</h3>
                        <p>
                            <span>Closing in: </span>
                            <span class="time-remaining" title="@product.EndTime">↵
                            @product.EndTime</span>
                        </p>
                        <p>
                            <strong>Current Price: </strong>
                            <span class="current-bid-amount">@product.CurrentPrice</span>
                        </p>
                        <p>
                            <input type="button" id="productDetails" value="Details" onclick="ShowProduct('@product.Id')" />
                        </p>
                    </a>
                </li>
            }
        </ul>
        <br /><br />
        <div id="showDetails">
            <u><b>Product Details:</b></u><br />
                <div id="id"></div>
                <div id="title"></div>
                <div id="price"></div>
                <div id="date"></div>
        </div>
        <br /><br />
        <div>
            @Html.ActionLink("New Product", "Save")
        </div>
    </div>
    <script type="text/javascript">
        function ShowProduct(productId)
        {
            $.ajax({
                type: "GET",
                url: "/Product/Detail/",
                data: { id : productId },
                contentType: "application/jsonp",
                format: "jsonp",
                dataType: "jsonp",
                jsonpCallback: "jsonpCallback",
                success: function (data, status) {
                    if(data && data != 'undefined')
                    {
                        $("#id").text("Id: "+ data.Id);
                        $("#title").text("Name: "+data.Title);
                        $("#price").text("Price: $"+data.CurrentPrice);
                        var date = new Date(parseInt(data.EndTime.substr(6)));
                        $("#date").text("Available Date: "+ date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear());
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });

            //$.ajax({
            //    type: "GET",
            //    url: "/Product/Detail/",
            //    data: { id : productId },
            //    contentType: "application/json",
            //    format: "json",
            //    success: function (data, status) {
            //        if(data && data != 'undefined')
            //        {
            //            $("#id").text("Id: "+ data.Id);
            //            $("#title").text("Name: "+data.Title);
            //            $("#price").text("Price: $"+data.CurrentPrice);
            //            var date = new Date(parseInt(data.EndTime.substr(6)));
            //            $("#date").text("Available Date: "+ date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear());
            //        }
            //    },
            //    error: function (data) {

            //    }
            //});
        }
        function jsonpCallback(data)
        {
            //alert(data);
        }
    </script>